In [6]:
import requests
def connected_to_internet(url='http://www.google.com/', timeout=50):
    try:
        _ = requests.get(url, timeout=timeout)
        return True
    except requests.ConnectionError:
        print("No internet connection available.")
    return False

connected_to_internet()

True

In [2]:
#!pip install -r requirements.txt
#!pip install --upgrade python--socketio==4.4.0
#socketio.__version__

In [1]:
import os
import threading
import time
import importlib
import sys
import warnings
mpath = os.getcwd() + '/lib'
sys.path.append(mpath)

In [3]:
#import ipywidgets as widgets
#from ipywidgets import *
#from IPython.display import *
import socketio
import engineio
import fxcmpy
import pandas
import matplotlib
from matplotlib import *

import SharedObjects
#import pairs
#import Copula
#importlib.reload(Copula)
#importlib.reload(SharedObjects)
#importlib.reload(fxcmpyi)
#importlib.reload(pairs)

import numpy

In [3]:
#fxcmpy.__version__

minutes: m1, m5, m15 and m30,
hours: H1, H2, H3, H4, H6 and H8,
one day: D1,
one week: W1,
one month: M1.

In [4]:
#Set variables
T = 'm1' #Period
sz = 1000; #Size
prs = dict()
pr_mlreg = dict()
mlr = pandas.DataFrame()

Get access token from https://tradingstation.fxcm.com.

demo - for account type demo

real - for account type real

In [5]:
con = None
'''
def custom():
    global con
    try:
        def login():
            global con
            TOKEN = '428f4f0130d439c3d02922e4a5d4640a783830fb'
            con = fxcmpy.fxcmpy(access_token=TOKEN, log_level='error', server='demo', log_file='fxcm.log')
            return
        threading.Thread(target=login).start()
    except:
        custom()
custom()
'''
TOKEN = '428f4f0130d439c3d02922e4a5d4640a783830fb'
con = fxcmpy.fxcmpy(access_token=TOKEN, log_level='error', server='demo', log_file='fxcm.log')
#con.close()

In [6]:
dt = con.get_accounts()

In [22]:
dt

,t,ratePrecision,accountId,balance,usdMr,mc,mcDate,accountName,usdMr3,hedging,usableMargin3,usableMarginPerc,usableMargin3Perc,equity,usableMargin,bus,dayPL,grossPL
0,6,0,1609875,20000,0,N,,1001609875,0,Y,20000,100,100,20000,20000,1000,0,0

In [8]:
dt1 = con.get_instruments_for_candles()

In [20]:
con = None

In [6]:
dt2 = con.get_candles('XLM/USD', period='m1')
#dt2 = con.get_candles('AUD/CAD', period='m1', number=5)

In [8]:
dv = dt2
cl = dv.columns.to_list()
cl.remove('tickqty')
dv.insert(0, 'close', (dv['askclose'] + dv['bidclose']) / 2)
dv.insert(1, 'open', (dv['askopen'] + dv['bidopen']) / 2)
dv.insert(2, 'high', (dv['askhigh'] + dv['bidhigh']) / 2)
dv.insert(3, 'low', (dv['asklow'] + dv['bidlow']) / 2)
dv.drop(cl, inplace= True, axis=1)
dv

                       close     open     high      low  tickqty
date
2021-03-16 19:49:00  0.38870  0.38920  0.38925  0.38860       43
2021-03-16 19:50:00  0.38855  0.38865  0.38880  0.38835       40
2021-03-16 19:51:00  0.38885  0.38860  0.38890  0.38855       30
2021-03-16 19:52:00  0.38930  0.38895  0.38935  0.38885       22
2021-03-16 19:53:00  0.38895  0.38925  0.38935  0.38875       40
2021-03-16 19:54:00  0.38885  0.38885  0.38905  0.38885       29
2021-03-16 19:55:00  0.38885  0.38880  0.38895  0.38865       30
2021-03-16 19:56:00  0.38905  0.38890  0.38915  0.38885       21
2021-03-16 19:57:00  0.38925  0.38910  0.38925  0.38905        9
2021-03-16 19:58:00  0.38955  0.38930  0.38985  0.38925       48

In [10]:
def dataframe_is_empty(dataframe):
        if dataframe.empty == True:
            return True
        if dataframe.shape[0] == 0:
            return True
        if len(dataframe.index.values) == 0:
            return True
        return False
#dt2.axes[0].strftime('%Y-%m-%d %H:%M:%S:%f').tolist()
#pandas.Timestamp.now().to_pydatetime()
#datetime.datetime('2021-03-15 07:55:00:000000')

In [11]:
def update(data, dataframe):
    global dtt
    dtt = dataframe
    #print(data)
    print(dtt)

In [13]:
con.unsubscribe_market_data('ZAR/JPY')

In [12]:
con.subscribe_market_data('ZAR/JPY', (update,))
#dt3 = con.get_subscribed_symbols()

                           Bid    Ask   High    Low
2021-03-16 20:09:23.024  7.301  7.341  7.399  7.284
2021-03-16 20:09:20.531  7.300  7.341  7.399  7.284
                           Bid     Ask   High    Low
2021-03-16 20:09:23.024  7.301  7.3410  7.399  7.284
2021-03-16 20:09:20.531  7.300  7.3410  7.399  7.284
2021-03-16 20:09:21.271  7.300  7.3401  7.399  7.284
                           Bid     Ask   High    Low
2021-03-16 20:09:23.024  7.301  7.3410  7.399  7.284
2021-03-16 20:09:20.531  7.300  7.3410  7.399  7.284
2021-03-16 20:09:21.271  7.300  7.3401  7.399  7.284
2021-03-16 20:09:22.562  7.301  7.3416  7.399  7.284
                           Bid     Ask   High    Low
2021-03-16 20:09:23.024  7.301  7.3410  7.399  7.284
2021-03-16 20:09:20.531  7.300  7.3410  7.399  7.284
2021-03-16 20:09:21.271  7.300  7.3401  7.399  7.284
2021-03-16 20:09:22.562  7.301  7.3416  7.399  7.284
2021-03-16 20:09:23.024  7.301  7.3410  7.399  7.284
                           Bid     Ask   High    Low
2021-03-16 20:09:23.024  7.301  7.3410  7.399  7.284
2021-03-16 20:09:20.531  7.300  7.3410  7.399  7.284
2021-03-16 20:09:21.271  7.300  7.3401  7.399  7.284
2021-03-16 20:09:22.562  7.301  7.3416  7.399  7.284
2021-03-16 20:09:23.024  7.301  7.3410  7.399  7.284
2021-03-16 20:09:34.490  7.300  7.3408  7.399  7.284
                           Bid     Ask   High    Low
2021-03-16 20:09:23.024  7.301  7.3410  7.399  7.284
2021-03-16 20:09:20.531  7.300  7.3410  7.399  7.284
2021-03-16 20:09:21.271  7.300  7.3401  7.399  7.284
2021-03-16 20:09:22.562  7.301  7.3416  7.399  7.284
2021-03-16 20:09:23.024  7.301  7.3410  7.399  7.284
2021-03-16 20:09:34.490  7.300  7.3408  7.399  7.284
2021-03-16 20:09:34.876  7.299  7.3390  7.399  7.284
                           Bid     Ask   High    Low
2021-03-16 20:09:23.024  7.301  7.3410  7.399  7.284
2021-03-16 20:09:20.531  7.300  7.3410  7.399  7.284
2021-03-16 20:09:21.271  7.300  7.3401  7.399  7.284
2021-03-16 20:09:22.562  7.301  7.3416  7.399  7.284
2021-03-16 20:09:23.024  7.301  7.3410  7.399  7.284
2021-03-16 20:09:34.490  7.300  7.3408  7.399  7.284
2021-03-16 20:09:34.876  7.299  7.3390  7.399  7.284
2021-03-16 20:09:36.376  7.299  7.3390  7.399  7.284
                            Bid     Ask   High    Low
2021-03-16 20:09:23.024  7.3010  7.3410  7.399  7.284
2021-03-16 20:09:20.531  7.3000  7.3410  7.399  7.284
2021-03-16 20:09:21.271  7.3000  7.3401  7.399  7.284
2021-03-16 20:09:22.562  7.3010  7.3416  7.399  7.284
2021-03-16 20:09:23.024  7.3010  7.3410  7.399  7.284
2021-03-16 20:09:34.490  7.3000  7.3408  7.399  7.284
2021-03-16 20:09:34.876  7.2990  7.3390  7.399  7.284
2021-03-16 20:09:36.376  7.2990  7.3390  7.399  7.284
2021-03-16 20:09:37.221  7.2989  7.3390  7.399  7.284
                            Bid     Ask   High    Low
2021-03-16 20:09:23.024  7.3010  7.3410  7.399  7.284
2021-03-16 20:09:20.531  7.3000  7.3410  7.399  7.284
2021-03-16 20:09:21.271  7.3000  7.3401  7.399  7.284
2021-03-16 20:09:22.562  7.3010  7.3416  7.399  7.284
2021-03-16 20:09:23.024  7.3010  7.3410  7.399  7.284
2021-03-16 20:09:34.490  7.3000  7.3408  7.399  7.284
2021-03-16 20:09:34.876  7.2990  7.3390  7.399  7.284
2021-03-16 20:09:36.376  7.2990  7.3390  7.399  7.284
2021-03-16 20:09:37.221  7.2989  7.3390  7.399  7.284
2021-03-16 20:09:37.430  7.2985  7.3390  7.399  7.284

In [60]:
dttc0 = dtt.copy()
dttc0.drop(dttc.tail(1).index, inplace=True)
dttc = dtt.copy()
dttc.drop(dttc.head(len(dttc.axes[0].tolist())-1).index, inplace=True)
newdf = pandas.concat([dttc0, dttc])
float(newdf.at[newdf.index[-2] , 'Bid'])

7.2989

In [17]:
dt4 = con.get_prices('AUD/CAD')

In [27]:
from datetime import datetime, timedelta
import pandas
#dt4
#t0 = pandas.to_datetime(1615836309625, unit='ms') + timedelta(hours=1)
#(pandas.Timestamp.now() - t0).seconds / 60
#t1 = pandas.to_datetime(dtt['Updated'], unit='ms').strftime('%Y-%m-%d %H:%M:%S.%f')
type([0])

list

In [10]:
con.close()

In [9]:
type(dt2.to_json(orient='split'))

str

In [ ]:
if con is not None:
    shd_obj = SharedObjects.SharedObjects(con)
    print(con.is_connected())

In [ ]:
#Function to update data
def price_update(data = None, dataframe = None):
    symbol = data['Symbol']
    global pr_mlreg, mlr, shd_obj, prs
    if (symbol in prs):
        #pr_mlreg[symbol] = prs.get(symbol).multiple_linear_regression(prs)
        #mlr = shd_obj.mergeall_byrow(pr_mlreg)
        prs.get(symbol).standardize_prices()
        resp = prs.get(symbol).co_integration(prs, shd_obj.coint_mat, shd_obj.spreads)
        shd_obj.update(prs, resp[0], resp[1])

In [ ]:
def stream():
    for symbol in shd_obj.tradable_pairs:
        with warnings.catch_warnings():
            warnings.simplefilter("ignore")
            shd_obj.stream_data(symbol, (price_update, prs.get(symbol).on_price_update) )

In [ ]:
def get_past_prices():
    for symbol in shd_obj.tradable_pairs:
        dtf = shd_obj.historical_data(symbol, T, sz)
        if symbol not in prs:
            prs[symbol] = pairs.Pair(symbol, dtf)
            prs.get(symbol).standardize_prices()
            resp = prs.get(symbol).co_integration(prs, shd_obj.coint_mat, shd_obj.spreads)
            shd_obj.update(prs, resp[0], resp[1])
            
        syz = len(prs.get(symbol).standardized_prices)
        strm = False
        for sym in shd_obj.tradable_pairs:
            if(hasattr(prs.get(sym), 'standardized_prices') and syz == len(prs.get(sym).standardized_prices)):
                strm = True
            else:
                strm = False
        if(strm == True):
            threading.Thread(target=stream).start()
                
threading.Thread(target=get_past_prices).start()

#Stream Tradable Pairs

In [ ]:
#shd_obj.unstream_data()

In [ ]:
#con.close()

In [ ]:
#status = shd_obj.get_status()
#if(status == 'You are logged in'):
    #shd_obj.stream_data(T, sz, price_update)

In [ ]:
##Reverses the dataframe rows
#df[::-1]

#con.is_subscribed(instruments[0])
#con.get_subscribed_symbols()

#con.unsubscribe_market_data('EUR/USD')
#print(shd_obj.pairs)
#con.close()

In [ ]:
#con.get_default_account()
#con.get_prices('EUR/USD')

In [ ]:
#import inspect
#source_file_DF = inspect.getsource(pandas.DataFrame().join)
#print(source_file_DF)

In [ ]:
#mlr
#shd_obj.corr_bd
#shd_obj.coint_mat

In [ ]:
plot0 = None
plot1 = None
def doplot():
    y = 'USD/CHF'
    x = 'NZD/USD'
    plot0 = shd_obj.pairwise_spreadplot(y, x)
    plot1 = shd_obj.pairwise_plot(y, x)
threading.Thread(target=doplot).start()

In [ ]:
#Plots

In [ ]:
shd_obj.corr_mat

In [ ]:
#shd_obj.start = True
#shd_obj.start
stream()

In [ ]:
#pr = shd_obj.ipairs[4]
#dat = pandas.DataFrame()
#dat[pr[0]] = shd_obj.dataset0[pr[0]]
#dat[pr[1]] = shd_obj.dataset0[pr[1]]
#cop = Copula.copula(prs, pr, dat)
from ipywidgets import interact, interactive, fixed, interact_manual
y = interactive(shd_obj.pairwise_plot, a = shd_obj.tradable_pairs, b = shd_obj.tradable_pairs)
display(y)

In [ ]:
#import inspect
#source_file_DF = inspect.getsource(pandas.DataFrame)
#print(source_file_DF)

In [ ]:
#!pip install qgrid

In [ ]:
#items = ['All']+sorted(df['Asset Type Description'].unique().tolist())
from ipywidgets import interact, interactive, fixed, interact_manual
def view():
    display(shd_obj.coint_mat)
    display(shd_obj.corr_mat)
    return()
x = interactive(view)
x